# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

#libs
libs

#trash
CREDITS-fml.txt
forge-1.12.2-14.23.0.2512-changelog.txt
gradle.properties
gradlew
gradlew.bat
LICENSE-new.txt
MinecraftForge-Credits.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt